.subcontainer {
  display: flex;
  justify-content: center;
  top: 5em;
}

.homepage__container {
  display: flex;
  height: 100vh;
  justify-content: center;
}

.homepage__intro {
  color: var(--title);
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 80vh;
  width: 28%;
  min-width: 200px;
  padding-left: 2em;
  position: relative;
  transition: var(--main-transition);
  background-color: #000000cf;
}

.homepage__picture {
  background-image: url("../../assets/work-in-nature.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  right: 11em;
  width: 800px;
  min-width: 200px;
  transition: var(--main-transition);
  z-index: -1;
}

.project__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-right: 2em;
  height: 40vh;
  top: 10em;
  position: relative;
  border-bottom: 1px solid;
  border-right: 1px solid;
  transition: var(--main-transition);
  gap: 3em;
}

.homepage__profession {
  opacity: 50%;
}

.homepage__paragraf {
  text-align: start;
  margin-top: 2em;
  width: 80%;
}

@media only screen and (max-width: 800px) {

  .homepage__container,
  .subcontainer {
    width: inherit;
  }

  .homepage__picture {
    width: 35vw;
    height: 50vh;
    right: 42px;
    top: 4em;
  }

  .homepage__intro {
    top: 5em;
  }

  .project__container {
    display: none;
  }
}

@media only screen and (min-width: 798px) {
  .homepage__picture {
    width: 40vw;
    left: -5em;
  }
}