.chatapp-wrap {
    display: flex;
    padding: 11em 3em;
    gap: 2em;
    position: relative;
}

.chatapp-img {}

.chatapp-img__container img {
    height: 50vh;
}

@media screen and (max-width:800px) {
    .chatapp-wrap {
        flex-direction: column;
    }
}