.cv__work-experience h3 {
  transition: all 0.5s ease;

}

.cv__intro__title {
  display: flex;
  flex-direction: column;
  padding: 0 3em;


}

.cv-img {
  width: 20%;
}

.cv__item-header {
  cursor: pointer;
}

.cv__item {
  position: relative;
}

.cv__item-content {
  position: absolute;
  left: 0;
  width: 100%;
  background: rgb(46, 43, 198);
  padding: 1rem;
  border-radius: 8px;
  z-index: 10;
}

.cv-img:hover {
  cursor: pointer;
  background-color: var(--navbar-background);
  opacity: 50%;
}

.cv-img:hover .hover-download {
  visibility: visible;
}

.a-wrap.glow-link {
  position: relative;

  padding: 6px 12px;
  border-radius: 8px;
  text-decoration: none;
  color: white;
  z-index: 1;
}

.content__container {
  display: flex;

}

.cv__intro__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

/* Svetleći border koji se s vremena na vreme pojavi */
.a-wrap.glow-link {



  border-radius: 10px;
  padding: 2em;
  pointer-events: none;

  border: 2px solid rgba(255, 255, 255, 0.55);
  box-shadow: 0 0 12px rgba(255, 255, 255, 0.55);

  opacity: 1;
  animation: glowPulse 2s infinite ease-out;
  z-index: -1;
}


.hover-download {
  font-weight: 500;

}

@keyframes glowPulse {
  0% {
    opacity: 0;
  }

  55% {
    opacity: 1;

  }


  100% {
    opacity: 0;
  }
}

.hover-download {

  top: 2em;
  position: relative;
}

a {
  text-decoration: none;
}

.cv__container {
  position: relative;
  padding-top: 8em;
}

.cv__work-experience {
  max-width: 400px;
  margin-bottom: 2em;
  border-left: solid 1px white;
  border-bottom: solid 1px white;
  position: relative;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  padding: 0 3em;
}

.cv__item-header h3:hover {
  cursor: pointer;
  color: var(--title);

  text-shadow: 0 0 5px var(--title), 0 0 20px var(--title),

    0 0 50px var(--title);
}



.cv__tech {
  max-width: 400px;
  line-height: 2em;
  border-left: solid 1px white;
  border-bottom: solid 1px white;
  padding-left: 4em;
  padding-bottom: 3em;

}

.tech__exp__container {
  display: flex;
  justify-content: space-between;
  gap: 5em
}

.cv__intro {
  display: flex;
  justify-content: space-between;
}



.show {
  background-color: var(--dark-gray);
  width: 30vw;
  max-width: 350px;
  padding: 1em;
  border-radius: 30px;
}

.hide {
  display: none;
}

@media only screen and (max-width: 800px) {
  .tech__exp__container {
    display: flex;
    flex-direction: column;
    gap: 2em;
  }

  .cv__work-experience {
    top: 0;
    padding: 0 0 0 2em;
  }

  .cv__container {
    /* position: relative; */
    padding: 10em 0;
  }

  .show {
    width: auto;
  }

  .cv__tech {
    /* position: relative; */
    padding: 0 0 0 2em;

    left: 3em;
    border-bottom: none;
    border-top: solid 1px white;
  }

  .a-wrap {
    display: none;
  }
}