@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  font-weight: 400;
  font-style: normal;
  color: var(--title);
  letter-spacing: 1px;
}

:root {
  --navbar-background: #0d0d0d75;
  --title: #ffffff;
  --dark-gray: #190a4b;
  --orange: #3f3793;
  --main-transition: all 1s ease;
}

html,
body {

  width: 100%;

}

body {
  font-size: calc(12px * ((100vw - 300px) / (1600 - 300)));
}

img {
  box-shadow: -19px 20px 6px 1px #00000036;
  transition: all 0.5s ease;
}

img:hover {
  cursor: pointer;

  transition: all 0.5s ease;
}

.main {
  position: fixed;
  background-color: rgb(49, 72, 156);

  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  z-index: -1;
  animation: expandMainBackground 2s forwards;
}

@keyframes expandMainBackground {
  0% {
    height: 0;
  }

  100% {
    height: 100%;
  }
}

.container {
  position: fixed;
  background-color: var(--orange);

  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  z-index: 0;
  animation: expandBackground 2s forwards;
}

@keyframes expandBackground {
  0% {
    height: 0;
  }

  100% {
    height: 100%;
  }
}

.content__container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  gap: 6em;
}